body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#settingsIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s;
}

#settingsIcon:hover {
    opacity: 1;
}

#settingsPopup {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    color: white; /* White text */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Rounded corners */
    z-index: 2;
}

#resetButton {
    background-color: #f44336; /* Red color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#resetButton:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.clock {
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.date {
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.top-left {
    top: 20px;
    left: 20px;
}

.top-right {
    top: 20px;
    right: 20px;
}

.bottom-left {
    bottom: 70px;
    left: 20px;
}

.bottom-right {
    bottom: 70px;
    right: 20px;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.free {
    cursor: move;
}

.d-top-left {
    top: 70px;
    left: 20px;
}

.d-top-right {
    top: 70px;
    right: 20px;
}

.d-bottom-left {
    bottom: 20px;
    left: 20px;
}

.d-bottom-right {
    bottom: 20px;
    right: 20px;
}

.d-center {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

