body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#settingsIcon {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s;
    transition: transform 0.3s ease; 
}

#settingsIcon:hover {
    opacity: 1;
    animation: rotate 2s linear infinite; /* Rotate continuously at a specified duration */
}

#settingsPopup {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    color: white; /* White text */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Rounded corners */
    z-index: 2;
}

#resetButton {
    background-color: #f44336; /* Red color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#resetButton:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.clock {
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.date {
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.top-left {
    top: 20px;
    left: 20px;
}

.top-right {
    top: 20px;
    right: 20px;
}

.bottom-left {
    bottom: 70px;
    left: 20px;
}

.bottom-right {
    bottom: 70px;
    right: 20px;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.free {
    cursor: move;
}

.d-top-left {
    top: 70px;
    left: 20px;
}

.d-top-right {
    top: 70px;
    right: 20px;
}

.d-bottom-left {
    bottom: 20px;
    left: 20px;
}

.d-bottom-right {
    bottom: 20px;
    right: 20px;
}

.d-center {
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.day-top-left {
    top: 70px;
    left: 20px;
}

.day-top-right {
    top: 70px;
    right: 20px;
}

.day-bottom-left {
    bottom: 20px;
    left: 20px;
}

.day-bottom-right {
    bottom: 20px;
    right: 20px;
}

.day-center {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.settings-section {
    margin-bottom: 20px;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
	font-weight: bold;
}

.settings-header span {
    display: inline-block;
}

.arrow {
    font-size: 16px;
}

.settings-group {
    padding: 10px;
    display: none; /* Start hidden */
}

#clockSettings, #dateSettings #daySettings {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Arrow for the collapsible sections */
.settings-header span#clockToggle,
.settings-header span#dayToggle, 
.settings-header span#dateToggle {
    transition: transform 3s ease; /* Smooth animation */
}

.settings-header span.rotated {
    transform: rotate(180deg); /* Rotate the arrow */
}

@font-face {
    font-family: 'Anurati';
    src: url('/assist/fonts/Anurati-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aquatico';
    src: url('/assist/fonts/Aquatico.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('/assist/fonts/Quicksand.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jartely';
    src: url('/assist/fonts/Jartely.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Creattion';
    src: url('/assist/fonts/Creattion Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SCRIPTIN';
    src: url('/assist/fonts/SCRIPTIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GreatVibes';
    src: url('/assist/fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rockybilly';
    src: url('/assist/fonts/Rockybilly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}